<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asif.stepupbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepUpBD"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".JobDetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".JobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewJobs"
            android:exported="false" />
        <activity
            android:name=".SeeJobListPost"
            android:exported="false" />
        <activity
            android:name=".PostJob"
            android:exported="false" />
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity android:name=".EmployeePage" />
        <activity android:name=".EmployerrPage" />
        <activity android:name=".UddoktaPage" />
    </application>

</manifest>